
.page-title {
    color: #5a78db;
    display: inline-block;
    border-bottom: 4px solid #fce138;
    padding: 0 80px 20px 80px;
    font-weight: normal;
    font-size: 42px;
    font-style: italic;
}

.top {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content {
    width: 80%;
    margin: 0 auto;
    color: #8b0000;
    text-align: center;
}

.content h3 {
    font-style: italics;
    text-decoration: underline;
}

.font {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;
}
