* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.font {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    color: #8b0000;
}

.top {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content {
    width: 80%;
    margin: 0 auto;
    color: black;
    text-align: center;
}

.content h3 {
    font-style: italics;
    text-decoration: underline;
}

.font {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;
}
