/* Styling starts here */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color:#dff9fb;
    --secondary-color:#ffb6c1;
    --tertiary-color:#000000;
    --quaternary-color:#ffe4c4;
    --quinary-color:#f00;
    --senary-color: #5a78db;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    line-height: 1.5;
}

/* Header section style starts */
header {
    padding: 20px 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    background-image: url("../images/background-img.jpg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    color: var(--tertiary-color);
    text-decoration: none;
}

header nav {
    margin: 7 px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
  margin: 10px 15px;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background:var(--quaternary-color);
    color:var(--quinary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Header section style ends */

/* Hero section style starts */
section {
    padding: 60px;
  }

.hero {
    background-image: url("../images/background-img.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    background-attachment: fixed;
    background-position: 80%;
    padding: 2% 6%;
  }

.hero div {
    flex: 0 0 90%;
  }

.picture {
    width: 100%;
    margin: 0;
    flex: 1;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline;
  }

.picture img {
    width: 20%;
  }

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

/* Sections starts */
main {
    margin-top: 20px;
    margin-bottom: 45px;
  }

.me {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 25px 0;
    align-items: stretch;
    padding: 10px 0;
}

.me > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--tertiary-color);
    font-size: 4vw;
    line-height: 1.1;
}

.me > div {
    flex: 0 0 77%;
}

.flex-item {
    border: 5px solid var(--quaternary-color);
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    flex-basis: calc(50% - 1em);
    background-blend-mode: soft-light;
    background-size: 150%;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item div {
    background-color: var(--secondary-color);
    padding: 8px 10px;
}

.flex-item h3 {
    font-size: 1.6 rem;
}

p {
    color: var(--tertiary-color);
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin: 0;
}

p::first-line { 
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
} 

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container img {
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: relative;
    margin: 30px;
    opacity: 0.7;
    width: 80%;
    justify-content: space-between;
}

.flex-container img:hover {
    opacity: 1;
}

.contact-me a {
    padding: 5px;
    text-decoration: none;
    font-size: 1.3 rem;
    font-style: normal;
    font-weight: bold;
    background-image: linear-gradient(270deg, var(--quinary-color) 0%, var(--primary-color) 100%);
    background-size: 100% 0.2em;
    background-position: bottom;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
    align-items: center;
    height: 100%;
}

.contact-me a:hover {
    background-size: 100% 80%;
    color: var(--tertiary-color);
}

.brewery-dog {
    background-image: url(../images/brewery-dog.png);
}
 
.weatherDashboard {
    background-image: url(../images/weather-dashboard.png);
}

.workday-scheduler {
    background-image: url(../images/workday-scheduler.png);
}

.codequiz {
    background-image: url(../images/code-quiz.png);
}

.password-generator {
    background-image: url(../images/password-generator.png);
}

.run-buddy {
    background-image: url(../images/run-buddy.png);
}

.horiseon {
    background-image: url(../images/horiseon.png);
}
/* Footer section style starts */
footer {
    padding: 40px 35px;
    background: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 15px;
    margin: 0;
    color: var(--tertiary-color);
}

footer a {
    color: var(--tertiary-color);
}

footer div {
    line-height: 1.5;
    text-align: right;
}
/* Footer section style ends */
/*Media query for laptops and smaller screens*/
@media screen and (max-width: 980px){
    header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }

    .picture {
        width: 100%;
    }

    .picture img {
        width: 30%;
    }

    /* Media query for tablets and smaller screens */
    @media screen and (max-width: 768px) {
     /* this will be applied on any screen bwtween 768px and 575px */   
      section {
         padding: 30px 15px; 
      } 

    }

    /* Media query for mobile phone and smaller screens */
    @media screen and (max-width: 575px) {
        .section-title {
            width: 95%;
        }  
    }
}
